
#navitem1 {
    color: #323f4b;
    font-family: Roboto;
}

#navitem2 {
    color: #323f4b;
    font-family: Roboto;
}

#navitem3 {
    color: #323f4b;
    font-family: Roboto;
}

#navitem4 {
    color: #323f4b;
    font-family: Roboto;
}

.food-munch-logo {
    width: 80px;
    height: 70px;
}

