<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="./static/stylebot.css">
    <link rel="stylesheet" href="./static/open.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/20c5629a29.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300;500;600&display=swap">
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places"></script>
  
   <style>
       
        body {
            scroll-behavior: smooth;
        }

        input[type="text"] {
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font size as needed */
  }
  #map {
            margin-top: 2vh;
            margin-left: 4vw;
            height: 400px;
            width: 90%;
            justify-content: center;
    text-align: center;
    align-items: center;
        }

    </style>

</head>

<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
            <a class="navbar-brand food-munch-logo" href="#">
                <p style="font-size: 42px; font-family: 'MuseoModerno', sans-serif;  margin-left:-47px;">PARKSYNC</p>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div id="navtools" class="navbar-nav ml-auto">
                    <a class="nav-link" style="font-size: 20px;" id="navitem1" href="/profile">My Profile <i class='fas fa-portrait' style='font-size:22px'></i></a>
                    <a class="nav-link" style="font-size: 20px;" id="navitem1" href="/lg">Log Out <i class="fa fa-sign-in" style="font-size:22px"></i></a>
                </div>
            </div>
        </div>
    </nav>

    <h2 class="searchhead">Give your Destination <i class="fas fa-directions" style="font-size: 27px;"></i></h2>

    <div class="inputmap">
    <input id="addressInput" class="col-12 col-lg-9" type="text" placeholder="Give the location address">
    <button onclick="searchLocation()" "text-align: center;" class="col-12 col-lg-2 custom-button"><b>Search <i class="fa fa-search"></i></b></button>
    </div>
    
    <div class="resmap">
    <h2 id="headaddress"></h2>
    <div id="map"></div>
    </div>

    <script>
       var map;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 0, lng: 0},
                zoom: 20
            });
        }

        function searchLocation() {
            var geocoder = new google.maps.Geocoder();
            var address = document.getElementById('addressInput').value;

            geocoder.geocode({'address': address}, function(results, status) {
                if (status === 'OK') {
                    var location = results[0].geometry.location;
                    map.setCenter(location);
                    var marker = new google.maps.Marker({
                        map: map,
                        position: location
                    });

                    // Create an info window
                    var infoWindow = new google.maps.InfoWindow({
    content: '<strong style="font-weight:bold; font-size=22px;">' + address + '</strong><br>' +
            '<br><button class="search" onclick="getDirections(' + location.lat() + ', ' + location.lng() + ')">Get Directions <i class="fas fa-directions"></i> </button><br>' +
            '<br><button class="custom-button" onclick="navigateToIndex()" >Get the park slot <i class="fas fa-car-alt"></i></button>'
});


                    // Add click event listener to the marker
                    marker.addListener('click', function() {
                        infoWindow.open(map, marker);
                    });
                    document.getElementById('headaddress').innerHTML = "<span style='color: #d0b200;'>Location: </span>" + address;
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }

        function getDirections(lat, lng) {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var origin = position.coords.latitude + ',' + position.coords.longitude;
                    var destination = lat + ',' + lng;
                    window.open('https://www.google.com/maps/dir/' + origin + '/' + destination);
                });
            } else {
                alert('Geolocation is not supported by this browser.');
            }
        }

        function navigateToIndex() {
            
            window.location.href = '/home';
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8zWPtv1G6B05tim27903BAeUQXjGS9dc&callback=initMap"></script>


</body>
</html>