<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./static/open.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/20c5629a29.js" crossorigin="anonymous"></script>
</head>

<body>
    
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/food-munch-img.png" class="food-munch-logo" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-link active" id="navitem1" href="#sectionwcu">Why Choose Us?<span class="sr-only">(current)</span></a>
                <a class="nav-link" id="navitem2" href="#ems">Explore Solution</a>
                <a class="nav-link" id="navitem3" href="#dp">Sign up</a>
                <a class="nav-link" id="navitem4" href="#fu">Login</a>
            </div>
        </div>
    </div>
</nav>

<div class="banner-section-bg-container d-flex flex-column justify-content-center">  
</div>

<div class="healthy-food-section pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5">
                <div class="text-center">
                    <img src="./static/1.png" class="healthy-food-section-img" />
                </div>
            </div>
            <div class="des1 col-12 col-md-7">
                <h1 class="healthy-food-section-heading">
                    Find parking the smart way
                </h1>
                <p class="healthy-food-section-description" style="text-align: justify;">
                    Our artificial intelligence platform analyzes video feeds from cameras to determine real-time parking availability for outdoor parking lots, this information is presented to commuters through an intuitive web, mobile interface and digital signboards
                </p>
                <button class="custom-button">-></button>
            </div>
            
        </div>
    </div>
</div>

<div class="healthy-food-section pt-5 pb-5">
    <div class="container">
        <div class="row">
            
            <div class="des1 col-12 col-md-7">
                <h1 class="healthy-food-section-heading">
                    Discover Your Location with Precision
                </h1>
                <p class="healthy-food-section-description" style="text-align: justify;">
Once you grant access to your location in our application, it will seamlessly retrieve your precise geographical coordinates. These coordinates are then utilized to showcase your exact location on an interactive map, providing you with a visual representation of where you are on your screen. This feature enhances your overall experience by seamlessly integrating real-time location data into the application's interface.
                </p>
                <button class="custom-button">-></button>
            </div>
            
            <div class="col-12 col-md-5">
                <div class="text-center">
                    <img src="./static/2.png" class="healthy-food-section-img" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="healthy-food-section pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5">
                <div class="text-center">
                    <img src="./static/3.png" class="healthy-food-section-img" />
                </div>
            </div>
            <div class="des1 col-12 col-md-7">
                <h1 class="healthy-food-section-heading">
                    Smart Exploration: Find Your Ideal Hotel or Mall with Location-Based Assistance
                </h1>
                <p class="healthy-food-section-description" style="text-align: justify;">
Our application, once granted location access, suggests nearby hotels and malls. It tailors recommendations based on your location. Additionally, you can manually search for specific places of interest, providing a personalized and convenient exploration experience.
                </p>
                <button class="custom-button">-></button>
            </div>
            
        </div>
    </div>
</div>


<div class="healthy-food-section pt-5 pb-5">
    <div class="container">
        <div class="row">
            
            <div class="des1 col-12 col-md-7">
                <h1 class="healthy-food-section-heading">
                    Find parking the smart way
                </h1>
                <p class="healthy-food-section-description">
                    Our artificial intelligence platform analyzes video feeds from cameras to determine real-time parking availability for outdoor parking lots, this information is presented to commuters through an intuitive web, mobile interface and digital signboards
                </p>
                <button class="custom-button">-></button>
            </div>

            <div class="col-12 col-md-5">
                <div class="text-center">
                    <img src="./static/4.png" class="healthy-food-section-img" />
                </div>
            </div>
            
        </div>
    </div>
</div>

<div class="healthy-food-section pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5">
                <div class="text-center">
                    <img src="./static/5.png" class="healthy-food-section-img" />
                </div>
            </div>
            <div class="des1 col-12 col-md-7">
                <h1 class="healthy-food-section-heading">
                    Find parking the smart way
                </h1>
                <p class="healthy-food-section-description">
                    Our artificial intelligence platform analyzes video feeds from cameras to determine real-time parking availability for outdoor parking lots, this information is presented to commuters through an intuitive web, mobile interface and digital signboards
                </p>
                <button class="custom-button">-></button>
            </div>
            
        </div>
    </div>
</div>

</body>