<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="./static/stylebot.css">
    <link rel="stylesheet" href="./static/open.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/20c5629a29.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300;500;600&display=swap">
   <style>
        /* Add styles for smooth scrolling */
        body {
            scroll-behavior: smooth;
        }
    </style>

</head>

<body>
    
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container">
        <a class="navbar-brand food-munch-logo" href="#">
            <p style="font-size: 42px; font-family: 'MuseoModerno', sans-serif;  margin-left:-47px;">PARKSYNC</p>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div id="navtools" class="navbar-nav ml-auto">
                <a class="nav-link active" id="navitem1" href="#sectionwcu">Why Choose Us <i class="fa fa-question" style="font-size:24px"></i>&nbsp<span class="sr-only">(current)</span></a>
                <a class="nav-link " id="navitem2" href="#exp">Explore Solution <i class="fa fa-search" style="font-size:24px"></i>&nbsp&nbsp</a>
                <a class="nav-link" id="navitem3" href="/sign">Sign up <i class='fas fa-user-alt' style='font-size:24px'></i>&nbsp&nbsp</a>
                <a class="nav-link" id="navitem4" href="/login">Login <i class="fa fa-sign-in" style="font-size:24px"></i></a>
            </div>
        </div>
    </div>
</nav>

<div class="banner-section-bg-container d-flex flex-column justify-content-center">  
</div>

<div id="exp" class="healthy-food-section pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5">
                <div class="text-center">
                    <img src="./static/1.png" class="healthy-food-section-img" />
                </div>
            </div>
            <div class="des1 col-12 col-md-7">
                <h1 class="healthy-food-section-heading">
                    Find parking the smart way
                </h1>
                <p class="healthy-food-section-description" style="text-align: justify;">
                    Our artificial intelligence platform analyzes video feeds from cameras to determine real-time parking availability for outdoor parking lots, this information is presented to commuters through an intuitive web, mobile interface and digital signboards
                </p>
                <button class="custom-button">-></button>
            </div>
            
        </div>
    </div>
</div>

<div class="healthy-food-section pt-5 pb-5">
    <div class="container">
        <div class="row">
            
            <div class="des1 col-12 col-md-7">
                <h1 class="healthy-food-section-heading">
                    Discover Your Location with Precision
                </h1>
                <p class="healthy-food-section-description" style="text-align: justify;">
Once you grant access to your location in our application, it will seamlessly retrieve your precise geographical coordinates. These coordinates are then utilized to showcase your exact location on an interactive map, providing you with a visual representation of where you are on your screen. This feature enhances your overall experience by seamlessly integrating real-time location data into the application's interface.
                </p>
                <button class="custom-button">-></button>
            </div>
            
            <div class="col-12 col-md-5">
                <div class="text-center">
                    <img src="./static/2.png" class="healthy-food-section-img" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="healthy-food-section pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5">
                <div class="text-center">
                    <img src="./static/3.png" class="healthy-food-section-img" />
                </div>
            </div>
            <div class="des1 col-12 col-md-7">
                <h1 class="healthy-food-section-heading">
                    Smart Exploration: Find Your Ideal Hotel or Mall with Location-Based Assistance
                </h1>
                <p class="healthy-food-section-description" style="text-align: justify;">
Our application, once granted location access, suggests nearby hotels and malls. It tailors recommendations based on your location. Additionally, you can manually search for specific places of interest, providing a personalized and convenient exploration experience.
                </p>
                <button class="custom-button">-></button>
            </div>
            
        </div>
    </div>
</div>


<div class="healthy-food-section pt-5 pb-5">
    <div class="container">
        <div class="row">
            
            <div class="des1 col-12 col-md-7">
                <h1 class="healthy-food-section-heading">
                    Discover Parking Availability in the Mall of Your Choice
                </h1>
                <p class="healthy-food-section-description" style="text-align: justify;">
                    Discover parking availability at your selected shopping mall, presenting a comprehensive view of all parking slots. Easily identify and locate free spaces to streamline your parking experience within the specific mall of your choice
                </p>
                <button class="custom-button">-></button>
            </div>

            <div class="col-12 col-md-5">
                <div class="text-center">
                    <img src="./static/4.png" class="healthy-food-section-img" />
                </div>
            </div>
            
        </div>
    </div>
</div>

<div class="healthy-food-section pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5">
                <div class="text-center">
                    <img src="./static/5.png" class="healthy-food-section-img" />
                </div>
            </div>
            <div class="des1 col-12 col-md-7">
                <h1 class="healthy-food-section-heading">
                    Effortless Parking Navigation
                </h1>
                <p class="healthy-food-section-description" style="text-align: justify;">
                    Upon selecting an available parking slot from the list above, our application will provide the precise location of that slot and guide you with directions to reach your chosen parking space effortlessly
                </p>
                <button class="custom-button">-></button>
            </div>
            
        </div>
    </div>
</div>


<div class="healthy-food-section pt-5 pb-5" style="background-color: rgb(222, 222, 209);">
    <div class="container" >
        <div class="row">
            <div class="col-12 col-md-6">
                <h1><b>Demo</b></h1>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    
                    <div class="carousel-inner">
                      <div class="carousel-item active" style="text-align: justify;">
                        Welcome to our Parking Slot Counter demo, where innovation meets efficiency. Our system revolutionizes parking management by providing a real-time, visually engaging display of available parking spaces. The live counter, with its dynamic updates, offers a glimpse into the seamless operation of our solution. Users can navigate the intuitive interface effortlessly, accessing features designed for simplicity and convenience.
                      </div>
                      <div class="carousel-item" style="text-align: justify;">
                        Explore the wealth of insights within our user-friendly interface. The second paragraph delves into the comprehensive statistics and reports that empower users with valuable data. From daily car counts to weekly trends, our system goes beyond counting slots, offering a deeper understanding of parking dynamics. Mobile compatibility ensures that users can stay connected and informed while on the move, enhancing the flexibility and accessibility of our solution.
                      </div>
                      <div class="carousel-item" style="text-align: justify;">
                        Take control with our robust admin dashboard, the focal point of the final paragraph. Customize settings, set alerts, and delve into detailed reports effortlessly. Witness how our system seamlessly integrates with sensors and cameras for precise counting and data accuracy. With our Parking Slot Counter, we redefine parking management, providing not just a counter but a holistic solution that transforms the parking experience. Ready to embrace the future of intelligent parking? Contact us for a full demonstration and unlock the potential of our cutting-edge system.
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                
            </div>
            <div class="des1 col-12 col-md-6">
                <video width="100%" height="100%" controls>
                    <source src="./static/demo.mp4" type="video/mp4">
                </video>
            </div>    
        </div>
    </div>
</div>



<div id="fu" class="follow-us pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="follow-us-section"><u>Follow Us</u></h1>
            </div>
            <div class="col-12">
                <div class="d-flex flex-row justify-content-center">
                    <div class="follow-us-icon-container">
                        <i class="fab fa-twitter icont"></i>
                    </div>
                    <div class="follow-us-icon-container">
                        <i class="fab fa-instagram iconi"></i>
                    </div>
                    <div class="follow-us-icon-container">
                        <i class="fab fa-facebook iconf"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer-section pt-5 pb-5">
    <div class="container">
        <div class="row foot">
            
            <div class="des1 col-12 col-md-4">
                <h2 style="color:white">Solutions</h2>
                <h5>Overview</h5>
                <h5>Smart Phone App</h5>
                <h5>Data Intelligence Dashboard</h5>
                <h5>Enforcement Portal</h5>
                
            </div>
            
            <div class="des1 col-12 col-md-4">
                <p style="font-size: 42px; font-family: 'MuseoModerno', sans-serif;">PARKSYNC</p>
            </div>
            
            <div class=" des1 col-12 col-md-4">
                <h2 style="color:white">Explore</h2>
                <h5>Advantages</h5>
                <h5>News</h5>
                <h5>Contact</h5>
                <h5>Privacy Policy</h5>
                
            </div>
        </div>
    </div>
</div>

<div class="container fixed-bottom" style="position: fixed; bottom: 0; right: -20%;">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Chat support</h4>
                    <p class="chatbox__description--header">Hi. My name is Sam. How can I help you?</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="./static/images/chatbox-icon.svg" /></button>
        </div>
    </div>
</div>








<script type="text/javascript" src="./static/app.js"></script>

<script>
   



// Add smooth scrolling for the navigation links
    $(document).ready(function(){
        $("#navitem2").on('click', function(event) {
            if (this.hash !== "") {
                event.preventDefault();
                var hash = this.hash;
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 3800, function(){
                    window.location.hash = hash;
                });
            }
        });
    });
</script>
</body>